urllib3==1.26.17		
flask==2.3.2		
flask-restful==0.3.10		
flask_restx==1.1.0		
flask_bcrypt==1.0.1		
flask_cors==3.0.10		
flask_sqlalchemy==3.0.2		
SQLAlchemy==1.4.46		
#redis==5.0.1		
requests==2.31.0		
colorlog==6.7.0		
pycryptodome==3.18.0		
#botocore==1.31.62		
#boto3==1.28.62		
#pandas==2.0.2		
pillow==9.5.0		
#ec2_metadata==2.13.0		
#awscli==1.29.62		
gunicorn==21.2.0		
matplotlib==3.7.3		
#psycopg2-binary==2.9.6		
#slackclient==2.9.4		
apscheduler==3.10.4		
fsspec		
s3fs		
flask-compress==1.13		
pymssql		
jupyter		
fairscale		
timm==0.6.13		
openpyxl		
einops		